server:
    port: 8080
    servlet:
        context-path: /api
spring:
    data:
        elasticsearch:
            repositories:
                enabled: true
    application:
        name: searchengine
    elasticsearch:
        uris: https://e641019f1fdf497c93f6d62d536404bf.us-east-1.aws.found.io
        username: elastic
        password: yyTXAsyLUaLFVCZjWaaFUTsT
        
